.nsl-field .m0 {
    margin: 0;
}

#nsl-field-credentials {
    max-width: 783px;
}

#nsl-field-credentials label {
    display: block;
    font-weight: bold;
}

#nsl-field-credentials fieldset > div {
    margin-top: 6px;
    margin-bottom: 12px;
}

#nsl-field-credentials fieldset p.description {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
}

#nsl-field-credentials .redirect-uri-wrap {
    display: flex;
    width: 99%;
}

#nsl-field-credentials .copy-uri {
    padding-top: 5px;
    padding-left: 10px;
}

#nsl-field-credentials .copy-uri > a {
    text-decoration: none;
    font-size: 13px;
}

@media screen and (max-width: 782px) {
    #nsl-field-credentials {
        max-width: 99%;
    }
}

#nsl-icon-set > ul > li:nth-child(2n) {
    background-color: #e3e3e3;
}

.nsl-icons-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nsl-icons-row > li {
    padding: 10px 15px;
}

.nsl-icon-radio-col {
    padding: 10px 15px;
}

.nsl-icon-image-wrap {
    text-align: center;
}

.nsl-icon-set {
    width: 24px;
    height: 24px;
}
